function Ghost.init 0
push constant 5
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 0
call Ghost.generate_ghost_image 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 1
call Ghost.generate_ghost_image 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 2
call Ghost.generate_ghost_image 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push constant 3
call Ghost.generate_ghost_image 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 0
add
push constant 4
call Ghost.generate_ghost_image 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Ghost.release 0
push constant 0
push static 0
add
pop pointer 1
push that 0
call Ghost.release_ghost_image 1
pop temp 0
push constant 1
push static 0
add
pop pointer 1
push that 0
call Ghost.release_ghost_image 1
pop temp 0
push constant 2
push static 0
add
pop pointer 1
push that 0
call Ghost.release_ghost_image 1
pop temp 0
push constant 3
push static 0
add
pop pointer 1
push that 0
call Ghost.release_ghost_image 1
pop temp 0
push constant 4
push static 0
add
pop pointer 1
push that 0
call Ghost.release_ghost_image 1
pop temp 0
push static 0
call Array.dispose 1
pop temp 0
push static 1
call Array.dispose 1
pop temp 0
push static 2
call Array.dispose 1
pop temp 0
push constant 0
return
function Ghost.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 1
push constant 8
call Math.multiply 2
push argument 2
push constant 8
call Math.multiply 2
push constant 2
push argument 3
call MoveableObj.new 4
pop this 0
push argument 0
pop this 3
push constant 0
pop this 6
push pointer 0
push constant 0
not
call Ghost.set_back_to_init 2
pop temp 0
push pointer 0
return
function Ghost.dispose 0
push argument 0
pop pointer 0
push this 0
call MoveableObj.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ghost.is_transparent 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Ghost.set_transparent 0
push argument 0
pop pointer 0
push constant 0
pop this 1
push constant 0
pop this 2
push this 0
push this 0
call MoveableObj.get_direction 1
call MoveableObj.oposite_direction 1
call MoveableObj.set_dir 2
pop temp 0
push pointer 0
push constant 0
push constant 0
call Ghost.update_target 3
pop temp 0
push constant 0
return
function Ghost.update_direction 1
push argument 0
pop pointer 0
push pointer 0
call Ghost.get_x 1
call Game.is_chunk_start 1
not
push pointer 0
call Ghost.get_y 1
call Game.is_chunk_start 1
not
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Ghost.is_transparent 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 8
call MoveableObj.set_speed 2
pop temp 0
label IF_FALSE1
push pointer 0
call Ghost.is_transparent 1
push pointer 0
call Ghost.get_x_chunk 1
push this 4
eq
and
push pointer 0
call Ghost.get_y_chunk 1
push this 5
eq
and
push pointer 0
call Ghost.is_frightened 1
push this 7
push constant 0
gt
not
and
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 0
call Ghost.set_back_to_init 2
pop temp 0
push pointer 0
push argument 2
push argument 3
call Ghost.update_target 3
pop temp 0
label IF_FALSE2
push pointer 0
call Ghost.is_normal 1
push this 7
push constant 0
gt
not
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Ghost.change_phase 1
pop temp 0
label IF_FALSE3
push this 2
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push argument 2
push argument 3
call Ghost.update_target 3
pop temp 0
push pointer 0
push argument 1
call Ghost.best_direction 2
pop local 0
goto IF_END4
label IF_FALSE4
push pointer 0
push argument 1
call Ghost.best_direction 2
pop local 0
label IF_END4
push this 0
push local 0
call MoveableObj.set_dir 2
pop temp 0
push constant 0
return
function Ghost.draw 2
push argument 0
pop pointer 0
push this 6
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 6
goto IF_END0
label IF_FALSE0
push constant 0
pop this 6
label IF_END0
push this 0
call MoveableObj.get_direction 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 1
goto IF_END1
label IF_FALSE1
push constant 0
pop local 1
label IF_END1
push pointer 0
call Ghost.img_index 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push pointer 0
call Ghost.get_x 1
call Game.translate_x_to_col 1
push pointer 0
call Ghost.get_y 1
call Game.translate_y_to_row 1
push local 0
push constant 16
push local 1
call Draw.render 5
pop temp 0
push constant 0
return
function Ghost.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ghost.get_x 1
call Game.translate_x_to_col 1
push pointer 0
call Ghost.get_y 1
push constant 16
add
call Game.translate_y_to_row 1
push pointer 0
call Ghost.get_x 1
push constant 16
add
call Game.translate_x_to_col 1
push pointer 0
call Ghost.get_y 1
call Game.translate_y_to_row 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ghost.set_frightened 0
push argument 0
pop pointer 0
push constant 0
pop this 2
push constant 1
pop this 1
push constant 3
pop this 7
push this 0
push this 0
call MoveableObj.get_direction 1
call MoveableObj.oposite_direction 1
call MoveableObj.set_dir 2
pop temp 0
push this 0
push constant 1
call MoveableObj.set_speed 2
pop temp 0
push pointer 0
push constant 0
push constant 0
call Ghost.update_target 3
pop temp 0
push constant 0
return
function Ghost.is_frightened 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Ghost.is_normal 0
push argument 0
pop pointer 0
push this 1
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Ghost.best_direction 7
push argument 0
pop pointer 0
push this 0
call MoveableObj.get_direction 1
call MoveableObj.oposite_direction 1
pop local 3
push constant 3
call Array.new 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push local 3
eq
not
push pointer 0
push local 0
push argument 1
call Ghost.valid_move_direction 3
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push local 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
return
label IF_FALSE1
push pointer 0
call Ghost.is_frightened 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push local 2
call Game.random 2
return
label IF_FALSE2
push constant 0
push local 1
add
pop pointer 1
push that 0
pop local 4
push pointer 0
push pointer 0
push constant 0
push local 1
add
pop pointer 1
push that 0
call Ghost.get_x_nxt_chunk 2
push pointer 0
push constant 0
push local 1
add
pop pointer 1
push that 0
call Ghost.get_y_nxt_chunk 2
push this 4
push this 5
call Ghost.distance_between 5
pop local 5
push constant 1
pop local 0
label WHILE_EXP1
push local 0
push local 2
lt
not
if-goto WHILE_END1
push pointer 0
push pointer 0
push local 0
push local 1
add
pop pointer 1
push that 0
call Ghost.get_x_nxt_chunk 2
push pointer 0
push local 0
push local 1
add
pop pointer 1
push that 0
call Ghost.get_y_nxt_chunk 2
push this 4
push this 5
call Ghost.distance_between 5
pop local 6
push local 6
push local 5
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 1
add
pop pointer 1
push that 0
pop local 4
label IF_FALSE3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
call Array.dispose 1
pop temp 0
push local 4
return
function Ghost.change_phase 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
push this 3
push constant 4
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 2
push constant 20
pop this 7
goto IF_END0
label IF_FALSE0
push constant 0
pop this 2
push this 3
push constant 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 7
pop this 7
goto IF_END1
label IF_FALSE1
push constant 10
pop this 7
label IF_END1
label IF_END0
push constant 0
return
function Ghost.get_timer 0
push argument 0
pop pointer 0
push this 7
return
function Ghost.distance_between 0
push argument 0
pop pointer 0
push argument 1
push argument 3
sub
push argument 1
push argument 3
sub
call Math.multiply 2
push argument 2
push argument 4
sub
push argument 2
push argument 4
sub
call Math.multiply 2
add
return
function Ghost.valid_move_direction 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
push argument 1
push constant 2
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push pointer 0
push argument 1
call Ghost.get_x_near_chunk 2
push pointer 0
call Ghost.get_y_chunk 1
call Map.get_chunk_info 3
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push argument 2
push pointer 0
push argument 1
call Ghost.get_x_near_chunk 2
push pointer 0
call Ghost.get_y_chunk 1
push constant 1
add
call Map.get_chunk_info 3
push constant 1
neg
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 0
not
return
label IF_FALSE0
push argument 1
push constant 1
eq
push argument 1
push constant 3
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 2
push pointer 0
call Ghost.get_x_chunk 1
push pointer 0
push argument 1
call Ghost.get_y_near_chunk 2
call Map.get_chunk_info 3
push constant 1
neg
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push argument 2
push pointer 0
call Ghost.get_x_chunk 1
push constant 1
add
push pointer 0
push argument 1
call Ghost.get_y_near_chunk 2
call Map.get_chunk_info 3
push constant 1
neg
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
push constant 0
not
return
label IF_FALSE3
push constant 0
not
return
function Ghost.update_target 3
push argument 0
pop pointer 0
push pointer 0
call Ghost.is_frightened 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Ghost.is_transparent 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 15
pop this 4
push constant 12
pop this 5
push constant 0
return
label IF_FALSE1
push this 3
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
call Pacman.get_x_chunk 1
pop this 4
push argument 1
call Pacman.get_y_chunk 1
pop this 5
push constant 0
return
label IF_FALSE3
push constant 2
pop this 4
push constant 26
pop this 5
push constant 0
return
label IF_FALSE2
push this 3
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push constant 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
call MoveableObj.get_direction 1
pop local 0
push argument 1
push local 0
call Pacman.get_x_near_chunk 2
push local 0
push static 1
add
pop pointer 1
push that 0
add
pop this 4
push argument 1
push local 0
call Pacman.get_y_near_chunk 2
push local 0
push static 2
add
pop pointer 1
push that 0
add
pop this 5
push constant 0
return
label IF_FALSE5
push constant 32
pop this 4
push constant 26
pop this 5
push constant 0
return
label IF_FALSE4
push this 3
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 2
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
call MoveableObj.get_direction 1
pop local 0
push argument 1
push local 0
call Pacman.get_x_near_chunk 2
push local 0
push static 1
add
pop pointer 1
push that 0
add
pop local 1
push argument 1
push local 0
call Pacman.get_y_near_chunk 2
push local 0
push static 2
add
pop pointer 1
push that 0
add
pop local 2
push local 1
push local 1
add
push argument 2
call Ghost.get_x_chunk 1
sub
pop this 4
push local 2
push local 2
add
push argument 2
call Ghost.get_y_chunk 1
sub
pop this 5
push constant 0
return
label IF_FALSE7
push constant 2
pop this 4
push constant 1
pop this 5
push constant 0
return
label IF_FALSE6
push this 3
push constant 4
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 2
push constant 1
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push argument 1
call Pacman.get_x_chunk 1
push argument 1
call Pacman.get_y_chunk 1
push pointer 0
call Ghost.get_x_chunk 1
push pointer 0
call Ghost.get_y_chunk 1
call Ghost.distance_between 5
push constant 50
lt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 32
pop this 4
push constant 1
pop this 5
goto IF_END10
label IF_FALSE10
push argument 1
call Pacman.get_x_chunk 1
pop this 4
push argument 1
call Pacman.get_y_chunk 1
pop this 5
label IF_END10
push constant 0
return
label IF_FALSE9
push constant 32
pop this 4
push constant 1
pop this 5
push constant 0
return
label IF_FALSE8
push constant 0
return
function Ghost.set_back_to_init 0
push argument 0
pop pointer 0
push constant 2
pop this 1
push constant 0
pop this 2
push this 0
push constant 2
call MoveableObj.set_speed 2
pop temp 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
pop this 4
push constant 26
pop this 5
push constant 10
pop this 7
label IF_FALSE0
push this 3
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 32
pop this 4
push constant 26
pop this 5
push constant 10
pop this 7
label IF_FALSE1
push this 3
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 4
push constant 1
pop this 5
push constant 7
pop this 7
label IF_FALSE2
push this 3
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 32
pop this 4
push constant 1
pop this 5
push argument 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 7
pop this 7
goto IF_END4
label IF_FALSE4
push constant 1
pop this 2
push constant 100
pop this 7
label IF_END4
label IF_FALSE3
push constant 0
return
function Ghost.count 0
push argument 0
pop pointer 0
push this 7
push constant 1
sub
pop this 7
push constant 0
return
function Ghost.move 1
push argument 0
pop pointer 0
push this 0
call MoveableObj.move 1
pop temp 0
push this 0
call MoveableObj.get_direction 1
pop local 0
push local 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push pointer 0
call Ghost.get_x_chunk 1
push pointer 0
push local 0
call Ghost.get_y_near_chunk 2
call Map.get_chunk_info 3
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 25
call MoveableObj.set_y_chunk 2
pop temp 0
push constant 0
return
label IF_FALSE1
push argument 1
push pointer 0
call Ghost.get_x_chunk 1
push constant 1
add
push pointer 0
push local 0
call Ghost.get_y_near_chunk 2
call Map.get_chunk_info 3
push constant 4
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 25
call MoveableObj.set_y_chunk 2
pop temp 0
push constant 0
return
label IF_FALSE2
label IF_FALSE0
push local 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push pointer 0
call Ghost.get_x_chunk 1
push pointer 0
push local 0
call Ghost.get_y_near_chunk 2
call Map.get_chunk_info 3
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push constant 2
call MoveableObj.set_y_chunk 2
pop temp 0
push constant 0
return
label IF_FALSE4
push argument 1
push pointer 0
call Ghost.get_x_chunk 1
push constant 1
add
push pointer 0
push local 0
call Ghost.get_y_near_chunk 2
call Map.get_chunk_info 3
push constant 4
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
push constant 2
call MoveableObj.set_y_chunk 2
pop temp 0
push constant 0
return
label IF_FALSE5
label IF_FALSE3
push constant 0
return
function Ghost.get_x 0
push argument 0
pop pointer 0
push this 0
call MoveableObj.get_x 1
return
function Ghost.get_y 0
push argument 0
pop pointer 0
push this 0
call MoveableObj.get_y 1
return
function Ghost.get_x_chunk 0
push argument 0
pop pointer 0
push this 0
call MoveableObj.get_x_chunk 1
return
function Ghost.get_y_chunk 0
push argument 0
pop pointer 0
push this 0
call MoveableObj.get_y_chunk 1
return
function Ghost.get_x_nxt_chunk 0
push argument 0
pop pointer 0
push this 0
push argument 1
call MoveableObj.get_x_nxt_chunk 2
return
function Ghost.get_y_nxt_chunk 0
push argument 0
pop pointer 0
push this 0
push argument 1
call MoveableObj.get_y_nxt_chunk 2
return
function Ghost.get_x_near_chunk 0
push argument 0
pop pointer 0
push this 0
push argument 1
call MoveableObj.get_x_near_chunk 2
return
function Ghost.get_y_near_chunk 0
push argument 0
pop pointer 0
push this 0
push argument 1
call MoveableObj.get_y_near_chunk 2
return
function Ghost.generate_ghost_image 1
push constant 16
call Array.new 1
pop local 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 0
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 1
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 0
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 0
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 0
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 0
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push argument 0
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
push constant 1
neg
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 1
push constant 1
neg
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 0
push constant 0
push constant 1
neg
push constant 1
push constant 1
push constant 1
neg
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Draw.image_row16_generator 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE4
push local 0
return
function Ghost.img_index 0
push argument 0
pop pointer 0
push pointer 0
call Ghost.is_transparent 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
return
label IF_FALSE0
push pointer 0
call Ghost.is_frightened 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
push this 6
add
return
label IF_FALSE1
push this 6
return
function Ghost.release_ghost_image 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push argument 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
call Array.dispose 1
pop temp 0
push constant 0
return
