function Main.main 1
call MoveableObj.init 0
pop temp 0
call Game.init 0
pop temp 0
call Ghost.init 0
pop temp 0
call Pacman.init 0
pop temp 0
call Map.init 0
pop temp 0
call Game.new 0
pop local 0
call Start2.beforeStart 0
pop temp 0
label WHILE_EXP0
push local 0
call Game.start 1
not
if-goto WHILE_END0
call Start2.clear 0
pop temp 0
push constant 402
push constant 148
call Start2.wayne75525 2
pop temp 0
push constant 10
push constant 148
call Start2.godtone 2
pop temp 0
push local 0
call Game.run 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call Game.win 1
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
call Game.lose 1
pop temp 0
label IF_END0
push local 0
call Game.dispose 1
pop temp 0
call Game.new 0
pop local 0
call Start2.beforeStart 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
call MoveableObj.release 0
pop temp 0
call Game.release 0
pop temp 0
call Ghost.release 0
pop temp 0
call Pacman.release 0
pop temp 0
call Map.release 0
pop temp 0
push constant 0
return
