function MoveableObj.init 0
push constant 4
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function MoveableObj.release 0
push static 0
call Array.dispose 1
pop temp 0
push static 1
call Array.dispose 1
pop temp 0
push constant 0
return
function MoveableObj.move 0
push argument 0
pop pointer 0
push this 0
push this 2
push this 3
push static 0
add
pop pointer 1
push that 0
call Math.multiply 2
add
pop this 0
push this 1
push this 2
push this 3
push static 1
add
pop pointer 1
push that 0
call Math.multiply 2
add
pop this 1
push constant 0
return
function MoveableObj.get_x 0
push argument 0
pop pointer 0
push this 0
return
function MoveableObj.get_y 0
push argument 0
pop pointer 0
push this 1
return
function MoveableObj.get_x_chunk 0
push argument 0
pop pointer 0
push this 0
push constant 8
call Math.divide 2
return
function MoveableObj.get_y_chunk 0
push argument 0
pop pointer 0
push this 1
push constant 8
call Math.divide 2
return
function MoveableObj.get_x_near_chunk 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call MoveableObj.get_x_chunk 1
push argument 1
push static 0
add
pop pointer 1
push that 0
add
push constant 1
add
return
label IF_FALSE0
push pointer 0
call MoveableObj.get_x_chunk 1
push argument 1
push static 0
add
pop pointer 1
push that 0
add
return
function MoveableObj.get_x_nxt_chunk 0
push argument 0
pop pointer 0
push pointer 0
call MoveableObj.get_x_chunk 1
push argument 1
push static 0
add
pop pointer 1
push that 0
add
return
function MoveableObj.get_y_near_chunk 0
push argument 0
pop pointer 0
push argument 1
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call MoveableObj.get_y_chunk 1
push argument 1
push static 1
add
pop pointer 1
push that 0
add
push constant 1
add
return
label IF_FALSE0
push pointer 0
call MoveableObj.get_y_chunk 1
push argument 1
push static 1
add
pop pointer 1
push that 0
add
return
function MoveableObj.get_y_nxt_chunk 0
push argument 0
pop pointer 0
push pointer 0
call MoveableObj.get_y_chunk 1
push argument 1
push static 1
add
pop pointer 1
push that 0
add
return
function MoveableObj.oposite_direction 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
return
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 3
return
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
return
label IF_FALSE3
push constant 1
neg
return
function MoveableObj.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function MoveableObj.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function MoveableObj.set_x_chunk 0
push argument 0
pop pointer 0
push argument 1
push constant 8
call Math.multiply 2
pop this 0
push constant 0
return
function MoveableObj.set_y_chunk 0
push argument 0
pop pointer 0
push argument 1
push constant 8
call Math.multiply 2
pop this 1
push constant 0
return
function MoveableObj.set_speed 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function MoveableObj.set_dir 0
push argument 0
pop pointer 0
push argument 1
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 1
pop this 3
push constant 0
return
function MoveableObj.get_speed 0
push argument 0
pop pointer 0
push this 2
return
function MoveableObj.get_direction 0
push argument 0
pop pointer 0
push this 3
return
